{% extends 'layout.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
 
<div class=" container center">
<fieldset class="container center col s12">
     <legend> <h1>Inscription</h1></legend>
        {{ form_start(registrationForm, {'attr': {'class': 'form-group row'}}) }}
             <div class="form-group row">
                     <label for="inputEmail3" class="col-sm-2 col-form-label"></label>
            <div class="col s12 m6 l6 offset-m3 offset-l3">
                {{ form_widget(registrationForm.username, {'attr': {'placeholder': 'Nom d\'utilisateur'}}) }}
                <span class="error">{{ form_errors(registrationForm.username) }}</span>
            </div>
            </br>
               </div>
            <div class="col-sm-10">
                     <label for="inputEmail3" class="col-sm-2 col-form-label"></label>
            <div class="col s12 m6 l6 offset-m3 offset-l3">
                {{ form_widget(registrationForm.email, {'attr': {'placeholder': 'Adresse email'}}) }}
                <span class="error">{{ form_errors(registrationForm.email) }}</span>
            </div>
            </br>
             </div>
            
              <div class="form-group row">
                     <label for="inputEmail3" class="col-sm-2 col-form-label"></label>
            <div class="col s12 m6 l6 offset-m3 offset-l3">
                {{ form_widget(registrationForm.plainPassword, {'attr': {'placeholder': 'Mot de passe'}}) }}
                <span class="error">{{ form_errors(registrationForm.plainPassword) }}</span>
            </div>
             </div>
            <div class="col-sm-10 ">
                <input type="submit" name="" class="btn btn-primary" value="M'inscrire">
                  </br>
                  <h5> Vous avez  un compte?<a href="/"> Identifiez vous</a>  </h5>  
            </div>
           
        {{ form_end(registrationForm) }}
        </fieldset >
    </div>
{% endblock %}
