 <div class=" container center col-sm-8">
  <fieldset class="container center col-sm-6 border border-secondary"  >
     <legend> <h1> New  Facture</h1></legend>
{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="row mb-4">
    <div class="col d-flex justify-content-center">
       <button class="btn ">{{ button_label|default('Save') }}</button>
      </div>
  
    <div class="col">
      <!-- Simple link -->
      <a href="{{ path('lot_habit_index') }}" class="btn " role="button" aria-disabled="true">Back To list</a>
    
    </div>
  </div>
    </fieldset>
        </div>
       

   
  <\div>
{{ form_end(form) }}
