{% extends 'base.html.twig' %}

{% block title %}Habits{% endblock %}

{% block body %}
    <h1>Habits</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ habit.id }}</td>
            </tr>
            <tr>
                <th>TarifHabit</th>
                <td>{{ habit.TarifHabit }}</td>
            </tr>
            <tr>
                <th>ReferenceHabit</th>
                <td>{{ habit.ReferenceHabit }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('habits_index') }}">back to list</a>

    <a href="{{ path('habits_edit', {'id': habit.id}) }}">edit</a>

    {{ include('habits/_delete_form.html.twig') }}
{% endblock %}
