{% extends 'base.html.twig' %}

{% block title %}   {% endblock %}

{% block body %}
    <h1> Tarifs </h1>

    <table class="table table-bordered ">
        <thead>
            <tr>
                <th>Id</th>
                <th>ReferenceHabit</th>
                <th>Tarifs</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_habit in type_habits %}
            <tr>
                <td>{{ type_habit.id }}</td>
                <td>{{ type_habit.ReferenceHabit }}</td>
                <td>{{ type_habit.Tarifs }}</td>
                <td>
                    <a href="{{ path('type_habit_edit', {'id': type_habit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('type_habit_new') }}">Create new</a>
{% endblock %}
